﻿body {
}

div#heading{background-image:url(../images/heading-chip2.gif);background-repeat:repeat-x;}

#search-period
{
    margin-bottom: 15px;
}

#enterMessagesBtn, #finishEvent
{
    margin-top:10px; 
}

fieldset.scheduler-border {
    border: 1px groove #5cb85c !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
    padding-bottom:30px;
    padding-top:10px;
}

    legend.scheduler-border {
        font-size: .9em !important;
        font-weight: bold !important;
        text-align: center !important;
        width:auto;
        padding:0 10px;
        border-bottom:none;
    }

#selectRouteRow
{
    margin-bottom:10px; 
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #D9EDF7;
    cursor: pointer;
}

#affectedRoutesPreEvent {
    width: 100%;
    margin-bottom: 20px;
}

#summaryMsgTablePreEvent{
    width: 100%;
    margin-bottom: 20px;
}

.select-style {
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: auto;
    
}

.select-style select {
    padding-top: 5px;
    padding-bottom:5px;
    border: none;
    box-shadow: none;
}

.select-style select option:hover{
    
    background-color:#dff0d8;
}

.select-style select option{
    
    padding-top:5px;
    padding-bottom:5px;
    
}

.select-style select option:checked{
    
    box-shadow: 0 0 10px 100px #5cb85c inset;
}



.startTimeDropMenu option:hover{
    -webkit-appearance: none;  /*Removes default chrome and safari style*/
     -moz-appearance: none;
     background-color:#dff0d8 !important;
    }

ko_container {
    width: 125px;
    min-height: 50px;
    background-color: #AAA;
}

.high {
    background-color: red;
}

.trash {
    background-color: #000;
}

.item {
    background-color: #DDD;
    cursor: move;
    text-align: center;
}

.item.ui-state-disabled {
    cursor: default;
    color: #AAA;
}

.item input {
    width: 100px;
}

#main {
    float: left;
    width: 150px;
    margin-top: 0px;
}

#results {
    margin-left: 175px;
    width: 150px;
}


#sortable-events-table:hover{
    cursor:move;

}
.panel-primary #panelForSettings{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

#panelForSettings{
    
    border-top-right-radius:3px;
    border-top-left-radius:3px

}

.table-hover > tbody > tr.selectedStop{
  background-color: #f2dede;
}

.table-hover > tbody > tr.highlightedRow{
  background-color: #ffff66;
}

