﻿#tabs-1
{
    text-align:center;
}
 
#tables
{
    display:none;
    text-align:center;
}

#affected-stops
{
    margin-left:auto;
    margin-right:auto;
}

#affected-stops-w-shuttle
{
    display:none;
    margin-left:auto;
    margin-right:auto;
}

#route-table-div
{
    display:none;
    margin-left:auto;
    margin-right:auto;
    width: 744px;
}

#upstops-table
{
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
    float:left;
    margin-right: 10px;
}

#upstops-table th
{
    padding:3px;
    font-size:11px;
    border: solid 1px #CCCCCC;
    vertical-align:top;
}

#upstops-table td
{
    padding:3px;
    font-size:11px;
    border: solid 1px #CCCCCC;
    vertical-align:top;
    text-align:left;
}

#downstops-table
{
    border-collapse: collapse;
    border: solid 1px #CCCCCC;
    float:left;
}

#downstops-table th
{
    padding:3px;
    font-size:11px;
    border: solid 1px #CCCCCC;
    vertical-align:top;
}

#downstops-table td
{
    padding:3px;
    font-size:11px;
    border: solid 1px #CCCCCC;
    vertical-align:top;
    text-align:left;
}

.message td
{
    vertical-align:top;
}

#shuttle-tab
{
    display:none;
}

#public-holiday-table
{
    display:none;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #CCCCCC;
    border-collapse:collapse;
    width:100%;
}

#public-holiday-table th
{
    border: 1px solid #CCCCCC;
    padding: 3px;
    vertical-align: top;
}

#public-holiday-table td
{
    border: 1px solid #CCCCCC;
    padding: 3px;
    vertical-align: top;
    text-align:left;
}


#routes-summary
{
    display:none;
    text-align:center;
}


#events-table
{
    display:none;

}

.error
{
    color:Red;   
}

form#frmAssignStops
{
    display:none;
}

form#frmCreateEvent
{
    display:none;
}

#message-details
{
    display:none;
}


#message-details table{
	border: solid 1px #3F840B;
	border-collapse:collapse;
	width:100%
}

#message-details table td{
	border: solid 1px #3F840B;
	padding:5px;
}

#message-details table th{
	border: solid 1px #3F840B;
	padding:5px;
}

.oddrow
{
    background-color:#DFDFDF;
}

.links-column a
{
    color:#000000;
    font-weight:bold;
}

.links-column a:hover
{
    color:#000000;
    font-weight:bold;
}

.links-column a:visited
{
    color:#000000;
    font-weight:bold;
}

.clear
{
    clear:both;
}

#search-period{
	left: 50%;
    position: absolute;
    top: 146px;
    margin-left: -330px;
}

#affected-stops-body:first-child
{
    font-weight: bold;
    text-align: center;
}

#affected-stops-w-shuttle-body:first-child
{
    font-weight: bold;
    text-align: center;

}

#unaffected-stops-body:first-child
{
    font-weight: bold;
    text-align: center;
}

#submenu
{
    text-align:left;
}

#submenu ul
{
    list-style-type:none;
    padding-left: 0;
}

#submenu ul li
{
    display:inline;
    margin-left: 10px;
}

form .counter
{
    color:#71B62C;
    display:block;
}

form .warning{color:#FF9F2F;}	
form .exceeded{color:#EF1D25;}

#ui-datepicker-div
{
    display:none;
}

.clear-button
{
    margin-top:10px;
    background-color: #D4D0C8;
    border: 1px solid #757575;
    color: #000000;
    margin-top: 10px;
    width: 52px;
}

.sms-text-saved
{
    border: solid 1px #00FF0B;
}

.sms-text-notsaved
{
    border: solid 1px #FF0000;
}

.ivr-text-saved
{
    border: solid 1px #00FF0B;
}

.ivr-text-notsaved
{
    border: solid 1px #FF0000;
}
#form-incomplete-message
{
    display:none;
}
