
div#menubar
{
	position:fixed;
	top:90px;
	width:100%;
	height:35px;
	background-color:#71B62C;
	z-index:99;
	z-index:10;
	border-top:1px solid #fff;
}

 
   

ul.nav, ul.nav li ul 
{
	list-style: none;
	padding: 0;
	margin: 0;
	clear: both;
	font-weight:bold;
	font-family:Sans-Serif;
	color:#fff;
}

#down
{
	border-bottom: solid #fff 1px;	
}


ul.nav li 
{
	float: left;
	position: relative;
	cursor: pointer;
	cursor: hand;
	padding-right: 30px;
	padding-left: 20px;
	padding-top:10px;
	height: 24px;
	border-right: solid #ffffff 1px;

	
}

ul.nav li li:hover {
	color: #000;
}

ul.nav li ul {
	display: none;
	position: absolute;
	margin-top: 5px;
	left: 0px;
	top:25px;
	width: 200px;
	border-top: solid #fff 1px;
	
}

li>ul {
	top: auto;
	left: auto;
	
}

ul.nav li li {
	text-align: left;
	clear:both;
	float: none;
	height:35px;
	background-color:#6EAB23;
}

ul.nav li.over, ul.nav li:hover {
	background-color: #000;
	color:#fff;
	
	
}


ul.nav li li.over, ul.nav li li:hover {
	background-color: #000;
	color:#fff;
	
	
}

ul.nav li:hover ul, ul.nav li.over ul {
	display: block;
	
}