﻿.container .span9 {
    width:870px;
}

.container .span4 {
width: 370px;
}

.container .span6 {
width: 570px;
}

.container .span10 {
    width:970px;
}

.container .span12 {
    width: 1170px;
    
}

.ie-row-fix {
    margin-left: -150px;   
    float: none;
}

#stops-review-div .span6 {
    width:48%;
}