﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="DisruptionMessagesForm.aspx.cs" Inherits="TTMarketing.WebUI.Disruptions.DisruptionMessagesForm" %>
<%@ Register TagPrefix="mf" TagName="MessagesForm" src="~/Controls/Disruptions/MessagesForm.ascx"  %>
<mf:MessagesForm ID="MessagesForm1" runat="server" />      
