﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="EmailLogTable.aspx.cs" Inherits="TTMarketing.WebUI.Disruptions.EmailLogTable" %>
<%@ Register TagPrefix="mf" TagName="EmailLogTable" src="~/Controls/Disruptions/EmailLogTable.ascx"  %>
<mf:EmailLogTable ID="EmailLogTable1" runat="server" />      